#countlabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: 'Times New Roman', Times, serif;
}

#container{
    text-align: center;
}

.buttons{
    padding: 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(124, 92, 92);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25;
}
.buttons:hover{
    background-color: rgb(236, 150, 150);
}